.body{
    background-color: 	hsl(204, 86%, 53%);
    border-color:  	hsl(204, 86%, 53%);
}

.hero{
    margin: 20px;
}


#mainIMG {
    height: 200px;
}
.trailList1{
    padding: auto;
}
.trailList2{
    align-self: center;
}