/* 34626c
839b97
cfd3ce
c6b497 */


.body{
    background-color: 	hsl(204, 86%, 53%);
    border-color:  	hsl(204, 86%, 53%);
}

.hero{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #34626c;
    color: white;
}
.title{
    color: white;
}

.subtitle{
    color: white;
}

.content{
    color: white;
}


.footer{
    background-color: #c6b497;
    color: white;
    height: 40px;
    
}

.p{
    color: white;
}

.img {
    height: 200px;
    width: 200px;
}

#mainIMG {
    height: 200px;
    margin: 10px;
}

.trail{
    background-color: #cfd3ce;

}

#mainIMG {
    height: 200px;
}

.main-content{
    background-color: #839b97;
}

.difColor{
    color: #34626c;
}

.button{
    background-color:  #34626c ;
    color: white;
    border: none;
    margin-bottom: 10px;
}
#map {
    height: 350px;
    width: 100%;
}
.mapBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: Domine;
    font-size: 45px;  
}
.subtitle{
    font-family: roboto;
    font-size: 25px;
}

#mainTitle{
    font-family: Domine;
    font-size: 35px;
}
#mainLocation{
    font-family: Bitter;
    font-size: 20px;
    font-style: italic;
}
#mainInfo{
    font-size: 18px;
}
#mainLength{
    font-size: 18px;
}
#mainStars{
    font-size: 18px;
}
#subtitle.difColor{
    font-size: 18px;
}